<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.cgew85.picops">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.SelectionActivity"
                android:label="@string/title_activity_pixel">
        </activity>
        <activity
                android:name=".view.EditingActivity"
                android:label="@string/title_activity_bearbeitung"
                android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity
                android:name=".view.FilterEffectsTabActivity"
                android:label="@string/title_filtereffectstab_activity">
        </activity>
        <activity
                android:name=".view.FilterTabActivity"
                android:label="@string/title_filtertab_activity">
        </activity>
        <activity
                android:name=".view.EffectsTabActivity"
                android:label="@string/title_effectstab_activity">
        </activity>
    </application>

</manifest>